/* This is a valid CSS comment */

h1 {
  position: absolute;
  display: block;
  float: right;
  color: black;
  background-color: blue;
  border: 1px black solid;
  shape-outside: polygon(0 0, 200px 100px, 0 200px);
}

h1:hover {
  color: red;
}
