<script>
  const testObject = {};
  const test = testObject?.foo;
  // eslint-disable-next-line no-console
  console.log(test);
  // eslint-disable-next-line no-console,max-len
  console.log('Very long sentence just to trigger the lenght limit accepted by eslint. You have to type a lot of characters for that.');

  export default {
    name: 'MyComponent',
    props: {
      title: {
        default: null,
        type: String,
      },
    },
  };
</script>

<template>
  <div class="panel panel-default">
    <div
      v-if="this.$slots.header || this.$slots.title || title"
      class="panel-heading"
    >
      <slot name="header">
        <h4 class="panel-title">
          <slot name="title">
            {{ title }}
          </slot>
        </h4>
      </slot>
    </div>
    <div class="panel-body">
      <slot />
    </div>
    <div
      v-if="this.$slots.footer"
      class="panel-footer"
    >
      <slot name="footer" />
    </div>

    <ul id="example-1">
      <li
        v-for="item in [1,2,3]"
        :key="item"
      >
        {{ item }}
      </li>
    </ul>
  </div>
</template>
